<div *ngIf="purchase">
  <h3>Purchase Details</h3>
  <div>Product : {{ purchase.product.name }}</div>
  <div>cost : {{ purchase.price }}</div>
  <div>date of purchase : {{ purchase.dateTime }}</div>
  <div>No. of emis paid : {{ purchase.emisPaid }}</div>
  <div>
    EMIs paid
    <div *ngFor="let emi of purchase.emiPayments">
      {{ emi.emiNo }} : {{ emi.emiAmount }} : {{ emi.dateTime }}
    </div>
  </div>
  <div *ngIf="purchase.emisPaid != purchase.emiTenure">
    <div>Next EMI:</div>
    <div>EMI amount : {{ purchase.emiAmount }}</div>
    <div>late fee : {{ lateFee }}</div>
    <div>Total amount : {{ purchase.emiAmount + lateFee }}</div>
    <div>
      <button (click)="payEmi()">Pay EMI</button>
    </div>
  </div>
</div>
