p {
  background-color: #1c454a;
  color: #ffffff;
  font-family: "Crete Round", serif;
}
a {
  background-color: #1c454a;
  color: #ffffff;
  font-family: "Crete Round", serif;
  margin: 8px 1rem;
  border-radius: 12px;
  padding: 8px;
}
a:hover {
  background-color: #fff;
  color: #1c454a;
}
div {
  padding: 8px;
}
