.cards {
  display: flex;
  width: 75%;
  margin: auto;
  font-family: "Crete Round", serif;
}
.card {
  padding: 16px;
  background-color: #1c454a;
  margin: 20px;
  border-radius: 16px;
  color: #ffffff;
  width: 32rem;
  height: 18rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.card h2 {
  text-align: center;
  margin: 6px 0px;
}
.details {
  display: flex;
  height: 3rem;
  margin: 0px 32px;
}
.details h4 {
  font-weight: 600;
}
.details p {
  font-weight: 500;
  margin-top: 21px;
  margin-left: 12px;
}
