<nav>
  <ol class="breadcrumb bg-transparent">
    <li class="breadcrumb-item"><a href="/products" routerLink="/products">Products</a></li>
    <li class="breadcrumb-item" *ngIf="product" aria-current="page">{{product.id}}</li>
  </ol>
</nav>

<div *ngIf="product" class="container">
  
  <div>
    <h3>Product Details</h3>
    <div class="card">
      <div class="row no-gutters align-items-center">
        <div class="col-md">
          <img src="{{ product.image }}" class="card-img" style="max-height: 320px; object-fit: contain;"
            alt="product_image">
        </div>
        <div class="col-md">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <div class="card-text">Rs. {{product.cost}}</div>
            <br>
            <button class="btn btn-primary" (click)="buy()">Buy Product</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-3">
    <h4>Description</h4>
    <div>
      {{product.description}}
    </div>
  </div>

</div>