<div class="container-fluid p-0">
  <div style="position: relative;">
    <img src="assets/images/index.jpg" alt="EMI_APP" class="center-block img-fluid" style=" height: 580px; object-fit: cover;">
    <h2 class="text-center" style="position: absolute; bottom: 0;">
      <strong>AN APP <br> MAKING SHOPPING EASY.</strong>
    </h2>
  </div>
  <div class="row my-3 mx-0 text-center">
    <div class="col-md p-3">
      <img src="assets/images/features-icon-1.png" alt="easy_emi">
      <h4>Easy Emi</h4>
      <p>Easy installments for every product</p>
    </div>
    <div class="col-md p-3">
      <img src="assets/images/features-icon-2.png" alt="easy_card">
      <h4>Emi Card Made Easy</h4>
      <p>Easy registration and smooth card application process</p>
    </div>
    <div class="col-md p-3">
      <img src="assets/images/features-icon-3.png" alt="easy_card">
      <h4>Product At Your Doorstep</h4>
      <p>Easy and quicker delivery at your doorstep</p>
    </div>
  </div>
</div>